.error {
	margin-top:20px;
    border: 1px solid maroon !important;
    color: #000;
    background: pink;
	border-color: #333;
    background-image: url(../img/s_error.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
	margin: 0.5em 0 1.3em 0;
}

.wait{
	color:#FFF;
	padding-bottom:20px;
}

input , button{

}

a{
text-decoration:none;
color:#fff;
font-family:arial;
font-size:14px;
}

a:hover{color:#bbb;}

a:active{color:#fff;}